/*---------------------------------*/
/*---------- header area ----------*/
/*---------------------------------*/
.jrnl_header_area {
  padding: 10px 0px;
}
.header_wrapper {
  padding: 10px;
  border-radius: 15px;
  font-family: "Trirong", serif;
}
.header {
  min-height: 80px;
  display: grid;
  align-items: center;
  justify-items: end;
  grid-template-columns: 2fr 8fr;
}
#menu {
  transition: 0.3s all ease-in-out;
  list-style-type: none;
  position: relative;
}
#menu > li {
  float: left;
  padding: 15px 0px;
  border-radius: 1px;
  transition: 0.3s all ease;
}
#menu > li:hover {
  background-color: #2e86de;
}
#menu > li > ul {
  background-color: rgb(31, 31, 31);
  position: absolute;
  opacity: 0;
  margin-top: 50px;
  width: 200px;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
#menu > li > ul > li > ul {
  margin-left: 250px;
  position: absolute;
  left: -50px;
  top: -10px;
  width: 200px;
  background-color: #2e86de;
  opacity: 0 !important;
}
#menu > li > ul > li > ul > li {
  list-style-type: none;
  padding: 15px;
  margin-left: -40px;
  transition: 0.3s all ease-in-out;
}
#menu > li > ul > li > ul > li:hover {
  background-color: black;
}
#menu > li > ul > li:hover ul {
  opacity: 1 !important;
}
#menu > li:hover ul {
  z-index: 1;
  opacity: 1;
  margin-top: 10px;
}
#menu > li > ul > li {
  list-style-type: none;
  position: relative;
  display: block;
  margin-left: -40px;
  padding: 15px;
  cursor: pointer;
  border-radius: 1px;
  transition: 0.3s all ease;
}
#menu > li > ul > li:hover {
  background-color: #2e86de;
}
#menu > li > ul > li > a,
#menu > li > ul > li > ul > li > a {
  color: white;
  text-decoration: none;
}
#menu > li > a {
  padding: 15px;
  font-size: 18px;
  color: rgb(0, 0, 0);
}
#menu > li > a:hover {
  color: black;
  text-decoration: none;
}
.logo_wrapper > h1 {
  font-size: 28px;
  font-weight: bolder;
}
.fa-bars {
  cursor: pointer;
  font-size: 25px;
  display: none;
}

/*---------------------------------*/
/*------------- excerpt -----------*/
/*---------------------------------*/
.jrnl_excerpt_more{
  background-color: #2e86de;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 3px;
  margin-top: 10px;
  display: inline-block;
  transition: 0.3s all ease-in-out;
}
.jrnl_excerpt_more:hover{
  text-decoration: none;
  background-color: #000000;
  color: #ffffff;
}

/*---------------------------------*/
/*------------ Sidebar ------------*/
/*---------------------------------*/
.jrnl_side_bar{
  background-color: #f9f9f9;
  padding-top: 15px;
  margin-bottom: 25px;
  box-shadow: 1px 1px 100px -100px #262626;
  border-radius: 8px;
  border: 1px solid #26262634;
}
.jrnl_side_bar .child_sidebar button[type="submit"]{
  transition: 0.3s;
  border-radius: 8px;
}
.jrnl_side_bar .child_sidebar input[type="search"]{
  transition: 0.3s;
  border-radius: 8px;
  outline: none;
}
.jrnl_side_bar .child_sidebar button[type="submit"]:hover{
  background-color: #2e86de;
  color: #ffffff;
}
.child_sidebar h2{
  font-family: "Trirong", serif;
  margin-top: 25px;
}
.child_sidebar ul li a{
  text-decoration: none;
  transition: 0.3s;
  margin-left: 10px;
  color: #2e86de;
}
.child_sidebar ul li a:hover{
  color: #262626;
}
.child_sidebar td a{
  color: #ffffff;
  background-color: #2e86de;
  padding: 1px 6px;
  border-radius: 2px;
}
.child_sidebar td a:hover{
  color: #262626;
}
.child_sidebar table caption{
  color: #ffffff;
  text-align: center;
  line-height: 10px;
  background-color: #2e86de;
}
.child_sidebar table thead th{
  color: #ffffff;
  background-color: #2e86de;
}
.child_sidebar p a{
  color: #262626;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 0px 10px;
  transition: 0.2s;
  font-size: 18px !important;
  font-weight: bold;
}
.child_sidebar p a:hover{
  color: #ffffff;
  background-color: #2e86de;
  border-radius: 5px;
  text-decoration: none;
}

/*---------------------------------*/
/*---------- pagination -----------*/
/*---------------------------------*/
.jrnl_pagination{
  padding: 12px 0;
  margin-bottom: 25px;
}
.jrnl_pagination .page-numbers{
  color: #000000;
  background-color: #2e86de;
  padding: 10px;
  border: 1px solid #2e86de;
  transition: 0.3s;
}
.jrnl_pagination .page-numbers:hover{
  text-decoration: none;
  background-color: #ffffff;
}
.current{
  background-color: #000000 !important;
  color: #ffffff !important;
}
.prev, .next{
  background-color: transparent !important;
  border: 1px solid #2e86de;
}

/*---------------------------------*/
/*---------- Footer Area ----------*/
/*---------------------------------*/
#footer{
  border-bottom: 1px solid #f9f9f9;
}
#footer .child_sidebar h2{
  color: #ffffff;
  border-left: 5px solid #2e86de;
  padding-left: 15px;
}
#footer .child_sidebar p{
  color: #f9f9f9;
}
#footer .child_sidebar ul{
  list-style-type: none;
}
#footer .child_sidebar ul li a{
  color: #f9f9f9;
}
#footer .child_sidebar ul li a:hover{
  color: #2e86de;
}
#footer .child_sidebar ul ul{
  display: none;
}

/*---------------------------------*/
/*---------- Copyright Area -------*/
/*---------------------------------*/
.copy_right p{
  padding-top: 25px;
  margin: 0;
  text-align: center;
  color: #f9f9f9;
}